.frens__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.frens__avatars-icon {
	margin-top: 16px;
	width: 110px;
	height: 48px;
}

.invited-friends {
	margin-top: 25px;
	font-family: Inter;
	color: #a1a1a1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.invited-friends__title {
	font-size: 16px;
}

.invited-friends__amount {
	font-weight: 500;
	font-size: 14px;
	color: #e8fc00;
}

.frens__action {
	margin-top: 41px;
}

.how-it-works {
	margin-top: 40px;
}

.how-it-works__title {
	font-size: 16px;
	margin-bottom: 8px;
	letter-spacing: 1.86px;
}

.how-it-works__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ffffff33;
}

.how-it-works__item:last-child {
	border-bottom: none;
}

.how-it-works__item-content {
	display: flex;
	align-items: center;
	gap: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.how-it-works__item-icon {
	width: 24px;
	height: 24px;
}

.how-it-works__item-body {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.how-it-works__item-title {
	font-family: Inter;
	color: #a1a1a1;
}

.how-it-works__item-accentuated-title {
	font-family: Inter;
	font-size: 12px;
	color: #e8fc00;
}

.how-it-works__number {
	font-family: Inter;
	font-style: italic;
	font-size: 10px;
	color: #a1a1a1;
}
